@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Delius&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tagesschrift&display=swap');
.nav{
      font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
    display: flex;
        align-items: flex-start;
    justify-content: space-around;

}
.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer{
    
    align-items: flex-end;
}
.body{
    background-image: url(https://avatars.mds.yandex.net/i?id=b8b32efe7873e4be797948603985eabc_l-10701700-images-thumbs&n=13);
}